@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vh;
    height: 15vh;
    color: aliceblue;
    border-radius: 1vh;
    border: 2px solid aliceblue;
    background-color: rgb(97, 181, 253);

    p{
        margin: 3vh 0 1vh 0;
        font-family: "Dosis", sans-serif;
        font-weight: bold;
        font-size: 2vh;
    }

    button{
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            text-decoration: none;
            color: aliceblue;
            font-size: 18px;
            border-radius: 20px;
            width: 20vh;
            height: 4vh;
            font-weight: bold;
            border: 2px solid aliceblue;
            transition: 0.3s;
            box-shadow: 0px 6px 0px -2px rgb(3, 109, 196);
            background-color: #3ba7ff8c;
          }
          
          button:hover {
            box-shadow: 0 0 #fff;
            transform: translateY(1px);
            background-color: aliceblue;
            color: rgb(90, 178, 255);
          }
    }
